header.header {
    position: fixed;
    width: 100%;
    color: #F1EDF6;
    background-color: #271934;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #F1EDF6;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.main__wrapper__selects {
    display: flex;
    align-items: end;
    gap: 20px;
}

@media screen and ((max-height: 850px) or (max-width: 1080px)) {
    header.header {
        height: 4rem;
      }
}

@media screen and (max-width: 800px){
    header.header {
        height: 7rem;
      }
  }